-- Migration pour ajouter la table des matches
-- ├Ç ex├®cuter dans Supabase SQL Editor

-- ============================================
-- TABLE DES MATCHES
-- ============================================

CREATE TABLE IF NOT EXISTS matches (
  -- Identifiant et timestamps
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  created_at TIMESTAMPTZ DEFAULT NOW() NOT NULL,
  updated_at TIMESTAMPTZ DEFAULT NOW() NOT NULL,
  
  -- Participants
  man_id UUID NOT NULL REFERENCES registrations(id) ON DELETE CASCADE,
  woman_id UUID NOT NULL REFERENCES registrations(id) ON DELETE CASCADE,
  
  -- Informations de contact (d├®normalis├®es pour performance)
  man_name TEXT NOT NULL,
  woman_name TEXT NOT NULL,
  man_email TEXT NOT NULL,
  woman_email TEXT NOT NULL,
  
  -- D├®tails de la rencontre
  meet_link TEXT NOT NULL,
  scheduled_date TIMESTAMPTZ NOT NULL,
  
  -- Statut
  status TEXT DEFAULT 'scheduled' NOT NULL 
    CHECK (status IN ('scheduled', 'completed', 'cancelled')),
  
  -- Notes admin (optionnel)
  notes TEXT,
  
  -- Contrainte : ├®viter les doublons
  CONSTRAINT unique_match UNIQUE(man_id, woman_id)
);

-- Index pour les requ├¬tes fr├®quentes
CREATE INDEX IF NOT EXISTS idx_matches_man_id ON matches(man_id);
CREATE INDEX IF NOT EXISTS idx_matches_woman_id ON matches(woman_id);
CREATE INDEX IF NOT EXISTS idx_matches_status ON matches(status);
CREATE INDEX IF NOT EXISTS idx_matches_scheduled_date ON matches(scheduled_date DESC);

-- Fonction pour mise ├á jour automatique de updated_at (si elle n'existe pas d├®j├á)
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger pour updated_at
DROP TRIGGER IF EXISTS update_matches_updated_at ON matches;
CREATE TRIGGER update_matches_updated_at
BEFORE UPDATE ON matches
FOR EACH ROW
EXECUTE FUNCTION update_updated_at_column();

-- Row Level Security
ALTER TABLE matches ENABLE ROW LEVEL SECURITY;

-- Politique : Lecture publique pour d├®veloppement
DROP POLICY IF EXISTS "Lecture publique matches d├®veloppement" ON matches;
CREATE POLICY "Lecture publique matches d├®veloppement"
ON matches FOR SELECT
TO anon, authenticated
USING (true);

-- Politique : Seuls les admins peuvent cr├®er
DROP POLICY IF EXISTS "Admin cr├®ation matches" ON matches;
CREATE POLICY "Admin cr├®ation matches"
ON matches FOR INSERT
TO anon, authenticated
WITH CHECK (true);

-- Politique : Seuls les admins peuvent modifier
DROP POLICY IF EXISTS "Admin modification matches" ON matches;
CREATE POLICY "Admin modification matches"
ON matches FOR UPDATE
TO anon, authenticated
USING (true)
WITH CHECK (true);

-- ============================================
-- VUES UTILES
-- ============================================

-- Vue : Statistiques des matches
DROP VIEW IF EXISTS match_stats;
CREATE VIEW match_stats AS
SELECT 
  status,
  COUNT(*) as total,
  MIN(scheduled_date) as premiere_rencontre,
  MAX(scheduled_date) as derniere_rencontre
FROM matches
GROUP BY status;

-- Vue : Matches ├á venir
DROP VIEW IF EXISTS upcoming_matches;
CREATE VIEW upcoming_matches AS
SELECT 
  m.*,
  rm.city as man_city,
  rm.age as man_age,
  rw.city as woman_city,
  rw.age as woman_age
FROM matches m
JOIN registrations rm ON m.man_id = rm.id
JOIN registrations rw ON m.woman_id = rw.id
WHERE m.scheduled_date > NOW()
  AND m.status = 'scheduled'
ORDER BY m.scheduled_date ASC;

-- Confirmation
DO $$
BEGIN
  RAISE NOTICE 'Ô£à Table "matches" cr├®├®e avec succ├¿s !';
  RAISE NOTICE 'Ô£à Index et vues cr├®├®s';
  RAISE NOTICE 'Ô£à RLS activ├®';
  RAISE NOTICE '';
  RAISE NOTICE '­ƒôØ Vous pouvez maintenant cr├®er des matches depuis l''interface admin';
END $$;
